* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Dancing Script", cursive;
  font-family: "Dela Gothic One", cursive;
  font-family: "Lobster", cursive;
  font-family: "Young Serif", serif; */
}

/* -----------HEADER------------- */

header {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(128, 128, 128, 0.508),
    rgba(0, 0, 0, 0.545),
    rgba(0, 0, 255, 0.574),
    white
  );
}

header label.logo img {
  display: inline-block;
  width: 5rem;
  margin-left: 3rem;
}

ul.nav {
  display: inline-block;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 2rem;
  right: 5rem;
}

ul.nav li {
  display: inline-block;
  padding: 0.5rem;
  margin: 2px 2rem;
  background-color: blueviolet;
  border-radius: 0.5rem;
  transition: 1s;
}

ul.nav li:hover {
  background-color: black;
  transform: scale(1.2);
}

ul.nav li a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 5px;
}

ul.nav li a:hover {
  color: red;
}

/* ----------SECTION------------ */

section.life {
  /* margin-top: .5rem; */
  background-image: url(./img/muhammad-ali-vs-sonny-liston-1965.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 90vh;
}
h1 {
  text-align: center;
  font-family: "Dela Gothic One", cursive;
  color: red;
}

p.biography {
  text-align: justify;
  margin: 1rem;
  line-height: 1.5rem;
  font-family: "Young Serif", serif;
  font-weight: 900;
  color: white;
}

/* -------ARTICLE-IMG----------- */

article {
  height: 30vh;
  text-align: center;
  font-family: "Lobster", cursive;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.758),
    rgba(128, 128, 0, 0.685),
    yellowgreen,
    rgba(128, 128, 128, 0.69)
  );
}

article h2 {
  font-size: xx-large;
}

article > img {
  margin-top: 1rem;
  margin-left: 0.5rem;
  height: 10rem;
  transition: 1s;
}

.img1:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.img2:hover {
  transform: rotateZ(180deg);
  cursor: pointer;
}

.img3:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.img4:hover {
  transform: scale(3);
  cursor: pointer;
}

.img5:hover {
  transform: scale(2);
  cursor: pointer;
}

.img6:hover {
  transform: rotateX(180deg);
  cursor: pointer;
}

/* ------------SECTION-QUOTES------------ */

section.quotes {
    background-image: linear-gradient(to right,gray,whitesmoke,olive,gray);
    margin-top: 0;
}

section.quotes > p {
    font-family: "Young Serif", serif; 
   margin: 0 10px;
    
}

/* ---------FOOTER--------- */
footer {
    font-family: "Dela Gothic One", cursive;
    margin: 15px;
    background-image: linear-gradient(to right,gray,whitesmoke,olive,gray);
    position: relative;
    
   
}

input#email,input#name {
    margin-left: 2px;
    margin-bottom: 5px;
    padding: 5px;
    width: 15rem;
    background-color: rgb(219, 216, 216);
    color: rgba(16, 76, 121, 0.723) ;
    
}



textarea {
    display: block;
    background-color: rgb(219, 216, 216);
    color: rgba(16, 76, 121, 0.723);
    position: relative;
}

input[value="Submit"], button[type="reset"] {
    
    padding: 15px;
    border-radius: 5px;
    color: white;
    background-color: coral;
}

div.social {
    display: inline-block;
    margin: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
}

div.social i {
   /* display: inline-block; */
   margin-right: 50px;
   font-size: 100px;
}

.fa-whatsapp {
    color: green;
}

.fa-telegram {
    color: rgba(10, 72, 227, 0.767);
}

.fa-instagram {
    color: rgba(213, 33, 33, 0.685);
}

.fa-facebook {
    color: rgba(9, 9, 198, 0.815);
}